page-login {

}

.username {
  margin-left: 20%;
  margin-top: 3%;
}

.password {
  margin-left: 20%;
}

.appName {
  text-align: center;
  margin-top: 20%;
}

.description {
  text-align: center;
}

.login {
  margin-left: 38%;
}

.signup {
  margin-left: 35%;
}

.forgotPassword {
  margin-left: 32%;
}
