<ion-header>

</ion-header>

<ion-content style="background-color: #e7f0f4">
  <img id="background-USC" src="../../assets/imgs/USC.jpg">
  <div id="color-over-image"></div>
    <p id="header" style="text-align: center">&nbsp;&nbsp;&nbsp;&nbsp; Home     <ion-icon name="log-out" style="color: white; float: right;" (click)="logOut()"></ion-icon></p>

  <div id="student-info-box"></div>

  <img src="../../assets/imgs/defaultProfile.png" style="width: 22%; margin-left: auto; margin-right: auto; display: block;"/>
  <p id="student-name" style="text-align: center; color: black;">Student Name</p>
  <p id="student-univ" style="text-align: center; color: black;">University of Southern California</p>

  <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 1em;">
    <img class="menu-option" src="../../assets/imgs/luggage.png" (click)="changeLayout(0)" style=" height: 2.5em; padding-right: 6%;"/>
    <img class="menu-option" src="../../assets/imgs/12points.png" (click)="changeLayout(1)" style=" height: 4em; padding-left: 6%; padding-right: 6%; border-right: 2px solid gray; border-left: 2px solid gray;"/>
    <img class="menu-option" src="../../assets/imgs/envelope.png" (click)="changeLayout(2)" style="height: 2.5em; padding-left: 6%;"/>
  </div>

  <div id="ask_question" *ngIf="layout === 'question'">
    <table>
      <tr style="height: 2em;">
        <td>Title:</td>
        <td><input style="border-radius: 5px" type="text" [(ngModel)]="this.title"/></td>
      </tr>
      <tr >
        <td>Description:</td>
        <td><textarea style="border-radius: 5px; width: 100%;" [(ngModel)]="this.description" rows="5"></textarea></td>
      </tr>
      <tr style="height: 2em;">
        <td colspan="2"><button id="send_question" (click)="submitToJobBoard()">Send</button></td>
      </tr>
    </table>
  </div>

  <div id="points" *ngIf="layout === 'points'">
    <table id="shop">
      <tr class="flex-container">
        <td style="padding-right: 20px; padding-bottom: 5px;"><img class="menu-option" src="../../assets/imgs/comboMeal.png" (click)="changeLayout(1)" style=" height: 4em; "/></td>
        <td style="width: 2px; background-color: #BBB"></td>
        <td style="padding-left: 20px"><img class="menu-option" src="../../assets/imgs/12points.png" (click)="changeLayout(1)" style=" height: 4em; "/></td>
      </tr>
      <tr class="flex-container">
        <td style="padding-right: 20px; padding-bottom: 5px;"><img class="menu-option" src="../../assets/imgs/CarlsJrCombo.jpg" (click)="changeLayout(1)" style=" height: 4em; "/></td>
        <td style="width: 2px; background-color: #BBB"></td>
        <td style="padding-left: 20px"><img class="menu-option" src="../../assets/imgs/12points.png" (click)="changeLayout(1)" style=" height: 4em; "/></td>
      </tr>
      <tr class="flex-container">
        <td style="padding-right: 20px;  padding-bottom: 5px;"><img class="menu-option" src="../../assets/imgs/comboMeal.png" (click)="changeLayout(1)" style=" height: 4em; "/></td>
        <td style="width: 2px; background-color: #BBB"></td>
        <td style="padding-left: 20px"><img class="menu-option" src="../../assets/imgs/collectButton.png" (click)="changeLayout(1)" style=" height: 4em; "/></td>
      </tr>
    </table>
  </div>

  <div id="inbox" *ngIf="layout === 'inbox'">
    <div *ngIf="conversations.length === 0">
      <h3>No Replies Yet :|</h3>
    </div>
    <div *ngIf="conversations.length != 0">
      <div *ngFor="let conversation of conversations" style="border-color: black;" (click)="openMessage(conversation)">
        <ion-card id="card" style="border-radius: 5px; padding: 0.5em;">
          <p class="conversation-title" style="font-weight: bold; font-size: 18px;"> {{conversation.title}} </p>
          <p class="conversation-description" style="font-size: 12px;"> &nbsp; &nbsp; {{conversation.description}} </p>
        </ion-card>
      </div>
    </div>

  </div>


</ion-content>
