<ion-header>

</ion-header>

<ion-content style="background-color: #e7f0f4">
  <img id="background-USC" src="../../assets/imgs/USC.jpg">
  <div id="color-over-image"></div>
  <p id="header"> Home
    <ion-icon id="logout" name="log-out" (click)="logOut()"></ion-icon>
  </p>

  <div class="main-container">
    <div class="student-info-box">

      <img class="defaultImage" width="20%" src="../../assets/imgs/defaultProfile.png" />
      <div *ngIf="userInfo">
        <p class='student-info' id='student-name'>{{userInfo['firstName'] + ' ' + userInfo['lastName']}}</p>
        <p class='student-info' id='student-univ'>{{userInfo['school']}}</p>
      </div>

      <div *ngIf="!userInfo">
        <p class='student-info' id='student-name'>You</p>
        <p class='student-info' id='student-univ'>Your School</p>
      </div>
    </div>
    <div class='options'>
      <img class="menu-option" width="13%" src="../../assets/imgs/luggage.png" (click)="changeLayout(0)" />
      <img class="menu-option2" width="30%" src="../../assets/imgs/12points.png" (click)="changeLayout(1)" />
      <img class="menu-option3" width="17%" src="../../assets/imgs/envelope.png" (click)="changeLayout(2)" />
    </div>
  </div>
  <div id="ask_question" *ngIf="layout === 'question'">

    <div>
      <div class="title-box">
        <p class="title-box-title">Title:</p>
        <input class="input-field title-input" type="text" [(ngModel)]="this.title" />
      </div>

      <p class="title-box-question">New Question:</p>
      <textarea type="text" class="input-field" [(ngModel)]="this.description" rows="5"></textarea>
      <button id="send_question" (click)="submitToJobBoard()">Send</button>

    </div>
  </div>

  <div id="points" *ngIf="layout === 'points'">
    <table id="shop">
      <tr class="flex-container">
        <td class="spacing">
          <img class="menu-option-prize" src="../../assets/imgs/comboMeal.png" (click)="changeLayout(1)" />
        </td>
        <td class="lineSplittingPointPrize"></td>
        <td class="spacing2">
          <img class="menu-option-prize" src="../../assets/imgs/12points.png" (click)="changeLayout(1)" />
        </td>
      </tr>
      <tr class="flex-container">
        <td class="spacing">
          <img class="menu-option-prize" src="../../assets/imgs/comboMeal.png" (click)="changeLayout(1)" />
        </td>
        <td class="lineSplittingPointPrize"></td>
        <td class="spacing2">
          <img class="menu-option-prize" src="../../assets/imgs/12points.png" (click)="changeLayout(1)" />
        </td>
      </tr>
      <tr class="flex-container">
        <td class="spacing">
          <img class="menu-option-prize" src="../../assets/imgs/comboMeal.png" (click)="changeLayout(1)" />
        </td>
        <td class="lineSplittingPointPrize"></td>
        <td class="spacing2">
          <img class="menu-option-prize" src="../../assets/imgs/collectButton.png" (click)="changeLayout(1)" />
        </td>
      </tr>
    </table>
  </div>

  <div id="inbox" *ngIf="layout === 'inbox'">
    <div *ngIf="conversations.length === 0">
      <h3>No Replies Yet :|</h3>
    </div>
    <div *ngIf="conversations.length != 0">
      <div id="convoBox" *ngFor="let conversation of conversations">
        <ion-card class="card" *ngIf="conversation.matchedStatus" (click)="openMessage(conversation)">
          <p class="conversation-title"> {{conversation.title}} </p>
          <p class="conversation-description"> {{conversation.description}} </p>
        </ion-card>

        <ion-card class="card disabledCard" *ngIf="!conversation.matchedStatus">
          <p class="conversation-title disabledCardText"> {{conversation.title}} </p>
          <p class="conversation-description disabledCardText"> {{conversation.description}} </p>
        </ion-card>
      </div>
    </div>

  </div>


</ion-content>
