page-home {
  .scroll-content {
      overflow: hidden;
    }

    #background-USC {
      position:absolute;
      z-index:-3;
      width: 100%;
    }

    #color-over-image {
      position: absolute;
      z-index: -2;
      background-color: #17243d;
      height: 196px;
      width: 100%;
      opacity: 0.7;
    }

    #header {
      color: #d7dee4;
      font-size: 1.1em;
      margin-right: 100%;
      margin-left: 100%;
      text-align: center;
      padding-left: 2%;
    }

    #form-title {
      height: 2em;
    }

    p {
      color: black;
    }

    .student-info-box {
      position: relative;
      z-index: -2;
      background-color: white;
      height: 28%;
      width: 90%;
      border-radius: 10px;
      left: 16px;
      top: 16px;
    }

    #student-name {
      font-size: 1em;
      padding: 0px;
      margin-bottom: 0px;
    }

    #student-univ {
      font-size: 0.8em;
      font-weight: 500;
      padding: 0px;
      margin-top: 0px;
    }

    #ask_question {
      position: relative;
      bottom: 58px;
      background-color: white;
      border-radius: 10px;
    }

    #send_question {
      background-color: #1988ab;
      color: #EEE;
      padding: 4px;
      margin-top: 5px;
      margin-left: 24%;
    }

    #inbox {
      margin-top: 2em;
      width: 90%;
      margin-left: 1.2em;
    }

    #points {
      background-color: white;
      border-radius: 10px;
      margin-left: 1.2em;
      margin-top: 2em;
      padding: 1em;
      width: 90%;
    }

    #logout {
      color: white; float: right;
    }

    #shop {
      margin-left: auto;
      margin-right:auto;
    }

    #convoBox {
      border-color: black;
    }

    #jobLine {
      height: 2%
    }

    #card {
      border-radius: 5px; 
      padding: 0.5em;
    }

    .conversation-title {
      font-weight: bold; 
      font-size: 18px;
    }

    .conversation-description {
      font-size: 4%;
      margin-left: 4%;
    }

    .student-info {
      text-align: center;
    position: relative;
    bottom: 26px;
    color: black;
    }

    .menu-option {
      height: 2.7em;
      position: relative;
      top: 10px;
      right: 32px;
    }

    .menu-option2 {
      height: 4em; padding-left: 6%; padding-right: 6%; border-right: 2px solid gray; border-left: 2px solid gray;
    }

    .menu-option3 {
      height: 2.5em;
    position: relative;
    left: 24px;
    top: 7px;
    }

    .defaultImage {
      position: relative;
    width: 20%;
    left: 40%;
    bottom: 20px;
    }

    .options {
      position: relative;
    bottom: 47px;
    display: flex;
    justify-content: center
    }

    .input-field {
      width: 100%;
      height: 12%;
      border-width: 2px;
      border-radius: 5px;
    }
    .menu-option-prize {
      height: 4em; 
    }
    
    .spacing {
      padding-right: 20px; 
      padding-bottom: 5px;
    }

    .lineSplittingPointPrize {
      width: 2px; 
      background-color: #BBB
    }
    .spacing2{
      padding-left: 20px
    }

}
