<ion-header>

</ion-header>

<ion-content style="background-color: #e7f0f4">
  <img id="background-USC" src="../../assets/imgs/USC.jpg">
  <div id="color-over-image"></div>
  <p id="header"> Home
    <ion-icon id="logout" name="log-out" (click)="logOut();"></ion-icon>
  </p>


  <div class="main-container">
    <div class="student-info-box">

      <img class="defaultImage" width="20%" src="../../assets/imgs/defaultProfile.png" />
      <div *ngIf="userInfo">
          <p class='student-info' id='student-name'>{{userInfo['firstName'] + ' ' + userInfo['lastName']}}</p>
          <p class='student-info' id='student-univ'>{{userInfo['school']}}</p>
      </div>

      <div *ngIf="!userInfo">
          <p class='student-info' id='student-name'>You</p>
          <p class='student-info' id='student-univ'>Your School</p>
      </div>
    </div>
    <div class='options'>
      <img class="menu-option" width="13%" src="../../assets/imgs/luggage.png" (click)="changeLayout(0)" />
      <img class="menu-option2" width="30%" src="../../assets/imgs/12points-Soon.png" (click)="changeLayout(1)" />
      <img class="menu-option3" width="17%" src="../../assets/imgs/envelope.png" (click)="changeLayout(2)" />
    </div>
  </div>

  <div id="ask_question" *ngIf="layout === 'question'">
    <div *ngIf="jobs.length === 0">
      <h3>No available jobs! Great job! :D</h3>
    </div>
    <div *ngIf="jobs.length != 0">
      <div *ngFor="let job of jobs" style="border-color: black;" (click)="print('hello'); openJob(job)">
        <ion-card id="card" style="border-radius: 5px; padding: 0.5em;">
          <p class="conversation-title" style="font-weight: bold; font-size: 18px;"> {{job.title}} </p>
          <p class="conversation-description" style="font-size: 12px;"> &nbsp; &nbsp; {{job.description}} </p>
        </ion-card>
      </div>
    </div>
  </div>

  <div id="points" *ngIf="layout === 'points'">
    <table id="shop">
      <tr class="flex-container">
        <td class="spacing">
          <img class="menu-option-prize" src="../../assets/imgs/comboMeal.png" (click)="changeLayout(1)" />
        </td>
        <td class="lineSplittingPointPrize"></td>
        <td class="spacing2">
          <img class="menu-option-prize circle-point" src="../../assets/imgs/12points.png" (click)="changeLayout(1)" />
        </td>
      </tr>
      <tr class="flex-container">
        <td class="spacing">
          <img class="menu-option-prize" src="../../assets/imgs/comboMeal.png" (click)="changeLayout(1)" />
        </td>
        <td class="lineSplittingPointPrize"></td>
        <td class="spacing2">
          <img class="menu-option-prize circle-point" src="../../assets/imgs/12points.png" (click)="changeLayout(1)" />
        </td>
      </tr>
      <tr class="flex-container">
        <td class="spacing">
          <img class="menu-option-prize" src="../../assets/imgs/comboMeal.png" (click)="changeLayout(1)" />
        </td>
        <td class="lineSplittingPointPrize"></td>
        <td class="spacing2">
          <img class="menu-option-prize circle-point" src="../../assets/imgs/collectButton.png" (click)="changeLayout(1)" />
        </td>
      </tr>
    </table>
  </div>


  <div id="inbox" *ngIf="layout === 'inbox'">
    <div *ngIf="conversations.length === 0">
      <h3>Answer some questions!</h3>
    </div>
    <div *ngIf="conversations.length != 0">
      <div *ngFor="let conversation of conversations" style="border-color: black;" (click)="openMessage(conversation)">
        <ion-card id="card" style="border-radius: 5px; padding: 0.5em;">
          <p class="conversation-title" style="font-weight: bold; font-size: 18px;"> {{conversation.title}} </p>
          <p class="conversation-description" style="font-size: 12px;"> &nbsp; &nbsp; {{conversation.description}} </p>
        </ion-card>
      </div>
    </div>
  </div>

  <div id="ask_question" *ngIf="layout === 'view_job'">
    <table>
      <tr style="height: 2em;">
        <td>Title:</td>
        <td>{{viewJobTitle}}</td>
      </tr>
      <tr style="height: 2em;">
        <td>Description:</td>
        <td>{{viewJobDescription}}</td>
      </tr>
      <tr>
        <td>Response:</td>
        <td><textarea style="border-radius: 5px;" [(ngModel)]="this.response" rows="5"></textarea></td>
      </tr>
      <tr style="height: 2em;">
        <td id="cancelButton"><button id="send_question" (click)="changeLayout(0)">Cancel</button></td>
        <td><button id="send_question" (click)="match()">Send</button></td>
      </tr>
    </table>
  </div>


</ion-content>
